@model IEnumerable<SatcomRfWebsite.Models.tblKLYTestResult>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Units)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LowLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassFail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P10)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Units)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LowLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassFail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Channel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P10)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
