@model SatcomRfWebsite.Models.tblSSPATestParameters

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tblSSPATestParameters</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TestName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TestName)
            @Html.ValidationMessageFor(model => model.TestName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P1)
            @Html.ValidationMessageFor(model => model.P1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P2)
            @Html.ValidationMessageFor(model => model.P2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P3)
            @Html.ValidationMessageFor(model => model.P3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P4)
            @Html.ValidationMessageFor(model => model.P4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P5)
            @Html.ValidationMessageFor(model => model.P5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P6)
            @Html.ValidationMessageFor(model => model.P6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P7)
            @Html.ValidationMessageFor(model => model.P7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P8)
            @Html.ValidationMessageFor(model => model.P8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P9)
            @Html.ValidationMessageFor(model => model.P9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P10)
            @Html.ValidationMessageFor(model => model.P10)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
