@model SatcomRfWebsite.Models.tblSSPATestParameters

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblSSPATestParameters</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TestName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TestName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.P1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.P1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.P2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.P2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.P3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.P3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.P4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.P4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.P5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.P5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.P6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.P6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.P7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.P7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.P8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.P8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.P9)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.P9)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.P10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.P10)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
