@model IEnumerable<SatcomRfWebsite.Models.tblSerialNumber>

@{
    ViewBag.Title = "Serial Numbers";
}

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->

<style>
    .btn-primary {
        width: 180px;
    }

    @@media(max-width: 1200px) {
        .btn-primary {
            width: 100%;
            margin-top: 10px;
        }
    }
</style>

<script>
    if (document.URL.indexOf("?") != -1) {
        if (document.URL.indexOf("findby=serial") == -1 && document.URL.indexOf("findby=name") == -1) {

            location.replace(document.URL.substring(0, document.URL.indexOf("findby=") + 7) + "serial");

        }

        var beginning = document.URL.substring(document.URL.indexOf("beginning=") + 10, document.URL.indexOf("findby=") - 1);
        if (document.URL.indexOf("?") != -1 && beginning != beginning.toUpperCase()) {
            location.replace(document.URL.replace(beginning, beginning.toUpperCase()));
        }
    }
</script>

@*section featured {*@
    <div class="row-fluid">
        <div class="container">
            <div class="page-header"><h1>Serial Numbers</h1></div>
            <div class="display" style="margin-bottom: 20px"><h3>View complete list of serial numbers with corresponding model names.</h3></div>
            <div class="row" id="search-form" style="margin-bottom: 10px">
                <div class="col-lg-4">
                    <label class="text-center center-block" id="label" style="font-size: 18px; padding-bottom: 20px"></label>
                    <script>
                        var text = "";
                        if (document.URL.indexOf("findby=serial") != -1) {
                            text += "Serial numbers starting with "
                        } else if (document.URL.indexOf("findby=name") != -1) {
                            text += "Model names starting with ";
                        }
                        text += document.URL.substring(document.URL.indexOf("beginning=") + 10, document.URL.indexOf("&findby="));
                        if (document.URL.indexOf("?") == -1) {
                            text = "All serial numbers and model names"
                        }
                        document.getElementById("label").innerHTML = "<strong>" + text + "</strong>";
                    </script>
                </div>
                <div class="col-lg-4" type="text">
                    <input class="form-control" id="search" placeholder="Filter by serial number or model name" oninput="changeButtons()"/>
                    <script type="text/javascript">
                        function changeButtons() {
                            if (document.getElementById("search").value == "") {
                                document.getElementById("find-by-serial").innerHTML = "Find by Serial Number";
                                document.getElementById("find-by-name").innerHTML = "Find by Model Name";
                            }
                            else {
                                document.getElementById("find-by-serial").innerHTML = "Search by Serial Number";
                                document.getElementById("find-by-name").innerHTML = "Search by Model Name";
                            }
                        }

                        function forceKeyPressUppercase(e) {
                            var charInput = e.keyCode;
                            if ((charInput >= 97) && (charInput <= 122)) { // lowercase
                                if (!e.ctrlKey && !e.shiftKey && !e.metaKey && !e.altKEY) { // no modifier key
                                    var newChar = charInput - 32;
                                    var start = e.target.selectionStart;
                                    var end = e.target.selectionEnd;
                                    e.target.value = e.target.value.substring(0, start) + String.fromCharCode(newChar) + e.target.value.substring(end);
                                    e.target.setSelectionRange(start + 1, start + 1);
                                    e.preventDefault();
                                }
                            }
                        }
                        document.getElementById("search").addEventListener("keypress", forceKeyPressUppercase, false);
                        document.getElementById("search").addEventListener("keypress", changeButtons, false);
                    </script>
                </div>
                <div class="col-lg-2 col-md-6">
                    <button class="btn btn-primary" id="find-by-serial" onclick="sortBySerial()">Find by Serial Number</button>
                    <script>
                        function sortBySerial() {
                            if (document.getElementById("search").value == "") {
                                location.href = document.URL.replace("=name", "=serial");
                            }
                            else {
                                location.href = location.origin + "/serialnumbers?beginning=" + document.getElementById("search").value + "&findby=serial";
                            }
                        }
                    </script>
                </div>
                <div class="col-lg-2 col-md-6">
                    <button class="btn btn-primary" id="find-by-name" onclick="sortByName()">Find by Model Name</button>
                    <script>
                        function sortByName() {
                            if (document.getElementById("search").value == "") {
                                location.href = document.URL.replace("=serial", "=name");
                            }
                            else {
                                location.href = location.origin + "/serialnumbers?beginning=" + document.getElementById("search").value + "&findby=name";
                            }
                        }
                    </script>
                </div>
            </div>
            <div class="row" style="min-width:400px">
                <div class="col-xs-1">
                    <div class="text-center" style="font-size: 16px"><strong>First Letter</strong></div>
                    <hr style="margin: 5px 0;" />
                    @for (int i = 65; i <= 90; i++)
                    {
                        <div class="start-letter text-center" id="letter-@((char)i)" style="font-size: 20px">@((char)i)</div>
                    }
                    <script>
                        Array.prototype.filter.call(document.getElementsByClassName("start-letter"), function (element) {
                            element.innerHTML = "<a href=\"/serialnumbers?beginning=" + element.innerHTML + "&findby="
                                + (document.URL.indexOf("?") != -1 ? document.URL.substring(document.URL.indexOf("findby") + 7) : "serial")
                                + "\"" + (document.URL.indexOf("beginning=" + element.innerHTML) != -1 ? "style=\"color: #4CAE4C ; font-weight: bold\"" : "") + ">" + element.innerHTML + "</a>";
                        })
                    </script>
                </div>
                <div class="col-xs-11">
                    <table id="table_serialNums" class="display" width="100%">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ModelSN)</th>
                                <th>@Html.DisplayNameFor(model => model.ModelName)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ModelSN)</th>
                                <th>@Html.DisplayNameFor(model => model.ModelName)</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        <a href="/ateData/AteOutputDetail/?serNum=@Html.DisplayFor(modelItem => item.ModelSN)">@Html.DisplayFor(modelItem => item.ModelSN)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModelName)
                                    </td>
                                    <td>
                                        <!--@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.id }) |-->
                                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

                <script>
                    $(document).ready(function () {
                        $('#table_serialNums').DataTable({
                            "scrollY": 650,
                            "iDisplayLength": 50,
                            "searching": false,
                            "order": [[(document.URL.indexOf("findby=name") != -1 ? 1 : 0), "asc"]]
                        });
                    });

                    //Set navbar button as active
                    document.getElementById("navBarSerial").classList.add("active");
                </script>
            </div>
    </div>
@*}*@