@model IEnumerable<SatcomRfWebsite.Models.tblSerialNumber>

@{
    ViewBag.Title = "Serial Numbers";
}

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->

@*section featured {*@
    <div class="row-fluid">
        <div class="container">
            <div class="page-header"><h1>Serial Numbers</h1></div>
            <div class="display" style="margin-bottom: 20px"><h3>View complete list of serial numbers with corresponding model names.</h3></div>
            <table id="table_serialNums" class="display" width="100%">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ModelSN)</th>
                        <th>@Html.DisplayNameFor(model => model.ModelName)</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ModelSN)</th>
                        <th>@Html.DisplayNameFor(model => model.ModelName)</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModelSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModelName)
                            </td>
                            <td>

                                <!--@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                                @Html.ActionLink("Details", "Details", new { id=item.id }) |-->
                                @Html.ActionLink("Delete", "Delete", new { id=item.id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <script>
                $(document).ready(function () {
                    $('#table_serialNums').DataTable({
                        "scrollY": 650,
                        "iDisplayLength": 50
                    });
                });

                //Set navbar button as active
                document.getElementById("rfdbpage").classList.add("active");
            </script>
        </div>
    </div>
@*}*@