@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://terrylinooo.github.io/jquery.disableAutoFill/assets/js/jquery.disableAutoFill.min.js"></script>
@Scripts.Render("~/bundles/js/Calibration/Create")

<div class="page-header row">
    <div class="col-lg-10">
        <h1>Submit Calibration Data</h1>
    </div>
    <div class="col-lg-2" style="margin-top: 30px">
        @if (!Request.Url.ToString().Replace("/", "").EndsWith("Create"))
        {
            <btn class="btn btn-default btn-block" id="reset-form">Reset form</btn>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-5" style="margin-top: -20px">
        <div class="display">
            <h3>Submit new calibration record to database.</h3>
        </div>
    </div>
    <div class="col-md-3">
        <select class="form-control" id="device-type" onchange="setURL(this.value)">
            <option value="default">Select a device type</option>
            <option value="Attenuator" @(Request.Url.ToString().Contains("Attenuator") ? "selected" : "" )>Attenuator</option>
            <option value="Output Coupler" @(Request.Url.ToString().Contains("OutputCoupler") ? "selected" : "" )>Output Coupler</option>
            <option value="Power Sensor" @(Request.Url.ToString().Contains("PowerSensor") ? "selected" : "" )>Power Sensor</option>
        </select>
    </div>
    <div class="col-md-2">
        <label class="form-control btn btn-info @(Request.Url.ToString().Replace("/", "").EndsWith("Create") ? "disabled" : "" )" id="import-file"><span id="import-msg">Import calibration file</span><input type="file" id="file-browser" style="display: none;" @(Request.Url.ToString().Replace("/", "").EndsWith("Create") ? "disabled" : "" )></label>
    </div>
    <div class="col-md-2">
        <button class="form-control btn btn-primary" id="index" onclick="index($('#device-type').val())">Go to index</button>
    </div>
</div>

<div class="alert alert-info" id="success" style="margin: 10px 0 0 0" hidden>
    <strong>Saving information...</strong>
</div>

<div class="alert alert-warning" id="assetnum-not-recognized" style="margin: 10px 0 0 0" hidden>
    <strong>Asset number not recognized!</strong>
    By submitting this form, you will be creating a new asset number record in the database.
    Please use proper naming conventions and letter casing.
</div>

<div class="alert alert-danger" id="validation-message" style="margin: 10px 0 0 0" hidden></div>

@using (Html.BeginForm())
{
    if (Request.Url.ToString().Contains("Attenuator"))
    {
        @Html.Partial("ATCalForm")
    }

    if (Request.Url.ToString().Contains("OutputCoupler"))
    {
        @Html.Partial("OCCalForm")
    }

    if (Request.Url.ToString().Contains("PowerSensor"))
    {
        @Html.Partial("PSCalForm")
    }
}