@model SatcomRfWebsite.Models.CalibrationData

@{
    ViewBag.Title = "Create";
}

@Scripts.Render("~/bundles/js/Calibration")

<div class="page-header"><h1>Submit Calibration Data</h1></div>
<div class="row">
    <div class="col-md-6" style="margin-top: -20px">
        <div class="display">
            <h3>Submit new calibration record to database.</h3>
        </div>
    </div>
    <div class="col-md-3">
        <select class="form-control" id="cal-type" onchange="setURL(this.value)">
            <option value="default">Select a device type</option>
            <option value="Attenuator" @(Request.Url.ToString().Contains("Attenuator") ? "selected" : "" )>Attenuator</option>
            <option value="Output Coupler" @(Request.Url.ToString().Contains("OutputCoupler") ? "selected" : "" )>Output Coupler</option>
            <option value="Power Sensor" @(Request.Url.ToString().Contains("PowerSensor") ? "selected" : "" )>Power Sensor</option>
        </select>
    </div>
    <div class="col-md-3">
        <button class="form-control btn btn-info @(Request.Url.ToString().Replace("/", "").EndsWith("Create") ? "disabled" : "" )" id="import-file">Import calibration file</button>
    </div>
</div>

@using (Html.BeginForm())
{
    if (Request.Url.ToString().Contains("Attenuator"))
    {
        @Html.Partial("ATCalForm")
    }

    if (Request.Url.ToString().Contains("OutputCoupler"))
    {
        @Html.Partial("OCCalForm")
    }

    if (Request.Url.ToString().Contains("PowerSensor"))
    {
        @Html.Partial("PSCalForm")
    }
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(".datepicker").datepicker({
        format: 'mm/dd/yyyy',
        changeMonth: true,
        changeYear: true
    });
    $(document).ready(function () {
        $("input:text,form").attr("autocomplete", "off");
        $("#Points").on("input change", function () {
            if ($("#Points").val().length > 3) {
                $("#Points").val($("#Points").val().substring(0, 3));
            }

            $.ajax({
                type: "post",
                url: "/Calibration/CreateDataFields",
                data: { "num": $("#Points").val() > 0 ? $("#Points").val() : 0 },
                dataType: "text",
                success: function (result) {
                    $("#DataFields").html(result);
                },
                error: function(xhr, status, error) {
                    $("#DataFields").html(xhr.responseText);
                }
            });
        });
    });
</script>