@model SatcomRfWebsite.Models.tblMonitorData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblMonitorData</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModelSN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModelSN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Frequency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Frequency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputResult)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputResult)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OutputResult)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OutputResult)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Channel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Channel)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
