@model SatcomRfWebsite.Models.AteOutputTopViewModel

@{
    ViewBag.Title = "ATE Output";
}
<div class="container">

    <script>
        function sendStats() {
            var newurl;
            if (selectProductType.value == "") {
                newurl = "SatcomStatsPage";
            }
            else if (selectModelName.value == "") {
                newurl = "SatcomStatsPage/Index/" + selectProductType.value;
            }
            else if (selectTestType.value == "" && selectTubeName.value == "" && selectOptions.value == "" && document.URL.indexOf("filter") == -1) {
                newurl = "SatcomStatsPage/Index/" + selectProductType.value + "/" + selectModelName.value;
            }
            else {
                newurl = "SatcomStatsPage/Index/" + selectProductType.value + "/" + selectModelName.value + "/testType=" + (selectTestType.value == "" ? "none" : selectTestType.value) + "+tubeName=" + (selectTubeName.value == "" ? "none" : selectTubeName.value) + "+opt=" + ($("#selectOptions").val() == "" ? "none" : $("#selectOptions").val()) + "+exclude=none";
            }
            document.getElementById("navBarStats").innerHTML = "<a href=\"" + document.getElementById("absolute-base-url").innerHTML + newurl + "\">Statistics</a>";
        }

        function sendOutput() {
            //document.getElementById("navBarAteOutput").innerHTML = "<a href=\"" + location.pathname + "\">ATE Output</a>";
        }

        function sendResults() {
            //alert(filterToApply);
            var pT = selectProductType.value;
            var mN = selectModelName.value;
            var ser = selectSerialNum.value;
            var testType = selectTestType.value;
            var tubeName = selectTubeName.value;
            var opt = $("#selectOptions").val();

            var newurl;
            if (pT == "") {
                newurl = "testsData/TestResults";
            }
            else if (mN == "") {
                newurl = "testsData/TestResults/" + pT;
            }
            else if (testType == "" && tubeName == "" && opt == "") {
                newurl = "testsData/TestResults/" + pT + "/" + mN;
            }
            else {
                newurl = "testsData/TestResults/" + pT + "/" + mN + "/testName=none+testType=" + (testType == "" ? "none" : testType) + "+tubeName=" + (tubeName == "" ? "none" : tubeName) + "+opt=" + ((opt == "" || opt != null && opt.indexOf("Audit") != -1) ? "none" : opt);
            }
            document.getElementById("navBarTests").innerHTML = "<a href=\"" + document.getElementById("absolute-base-url").innerHTML + newurl + "\">Test Results</a>";

        }
    </script>

    <div class="page-header"><h1>ATE Data Output</h1></div>
    <div class="row">
        <div class="alert alert-danger hide fade in" id="selection-failed">
            <strong>Error:</strong> Select a product type and model name first.
        </div>

        <div class="alert alert-danger hide fade in" id="download-failed">
            <strong>Error:</strong> Cannot generate report when data not found.
        </div>

        <div class="alert alert-danger hide fade in" id="invalid-url">
            <strong>Error:</strong> Invalid URL, you are being redirected.
        </div>

        <div class="alert alert-info hide fade in" id="excel-loading">
            <strong>Preparing Excel file...</strong>
        </div>

        <div class="alert alert-danger hide fade in" id="excel-failed">
            <strong>Error:</strong> Failed to generate Excel file.
        </div>

        <div class="col-lg-6" style="margin-top: -20px; margin-bottom: 20px">
            <div class="display"><h3>View complete data with the applied filters.</h3></div>
        </div>

        <div class="col-lg-2">
            <button id='filterReset' class="btn btn-block" type="button" onclick='resetFilter()'>Reset Filter</button>
        </div>

        <script>
            $(document).ready(function () {
                if (noSearchCriteria) {
                    $('#filterReset').prop('disabled', false); //true);
                    $('#filterApply').prop('disabled', false); //true);
                } else {
                    $('#filterReset').prop('disabled', false);
                    $('#filterApply').prop('disabled', false);
                }

                $("button").click(function () {
                    //$("#filterReset").html('Please Wait');
                    $body = $("body");
                    $body.addClass("loading");
                });
            });

            $(document).on({
                //ajaxStart: function () { $body.addClass("loading"); },
                //ajaxStop: function () { $body.removeClass("loading"); }
            });

            function resetFilter() {
                //location.href = document.getElementById("absolute-base-url").innerHTML + "ateData/AteOutput";
                location.href = document.getElementById("absolute-base-url").innerHTML + "ateData/AteOutput";

                sendStats();
                sendOutput();
                sendResults();
            }
        </script>

        <div class="col-lg-4">
            <input type="button" class="form-control btn btn-success" id="dlxlsx" name="dlbtn" onclick="getxlsxfile(selectProductType.value, selectModelName.value, $('#selectTestType').val(), $('#selectTubeName').val(), $('#selectOptions').val())" value="Download as Excel file (.xlsx)" />
        </div> <!--Another button can go here, possibly-->

        <script>
            function getxlsxfile(productType, modelName, testType, tubeName, options) {
                if (modelName == "") {
                    document.getElementById("selection-failed").classList.remove("hide");
                }
                else {
                    switch ($('#selectTestType').val()) {
                        case "ProdTest":
                            testType = "Production Test";
                            break;
                        case "EngTest":
                            testType = "Engineering Test";
                            break;
                        case "RMATest":
                            testType = "RMA Test";
                            break;
                        case "Debug":
                            testType = "Debugging";
                            break;
                        default:
                            testType = "null";
                            break;
                    }

                    var src = document.getElementById("absolute-base-url").innerHTML + "api/ListAPI/GetTableFile?modelName=" + modelName + "&productType=" + productType + "&testType=" + testType + "&tubeName=" + tubeName + "&options=" + options + "&exclude=none";
                    var data = new XMLHttpRequest();
                    data.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {
                            var retData = JSON.parse(data.responseText);
                            var win = window.open($("#absolute-base-url").html() + "Public/" + retData, '_blank');
                            if (!win) {
                                $(function () {
                                    $('[data-toggle="popover"]').popover()
                                })
                                $("#dlxlsx").attr("data-toggle", "popover");
                                $("#dlxlsx").attr("data-placement", "top");
                                $("#dlxlsx").attr("data-content", "Enable popups in your browser first");
                                $("#dlxlsx").popover("show");
                                setTimeout(function () {
                                    $("#dlxlsx").popover("destroy");
                                }, 5000);
                            }
                            else {
                                console.log("works");
                            }
                            document.getElementById("excel-loading").classList.add("hide");
                        } else if (this.readyState == 4 && this.status !== 200) {
                            document.getElementById("excel-loading").classList.add("hide");
                            document.getElementById("excel-failed").classList.remove("hide");
                        }
                    };

                    document.getElementById("excel-loading").classList.remove("hide");

                    data.open("GET", src, true);
                    data.send();    

                    document.getElementById("iframe-temp").innerHTML = "<iframe style=\"display:none\" src=\"" + document.getElementById("absolute-base-url").innerHTML +
                        "api/ListAPI/GetTableFile?modelName=" + modelName + "&productType=" + productType + "&testType=" + testType + "&tubeName=" + tubeName + "&options=" + options + "&exclude=none\"></iframe>";
                }
            }
        </script>
    </div>

    <script type="text/javascript">

        var arrProdType         = [@Html.Raw(Model.ateOutputModel.prodTypeStrList)];
        var arrModelName        = [@Html.Raw(Model.ateOutputModel.modelNameStrList)];
        var arrSerialNum        = [@Html.Raw(Model.ateOutputModel.serialNumStrList)];

        //alert(arrProdType.length + " " + arrModelName.length + " " + arrSerialNum.length);

        var noSearchCriteria    = true;
        var filterToApply       = "?filter=pT=na%mN=na%ser=na%testType=na%tubeName=na%opt=na";

        if ("@Model.ateOutputModel.filter" != "") {
            filterToApply = "?filter=@Model.ateOutputModel.filter";
        }

        if (document.URL.indexOf("pT=na%mN=na%ser=na%testType=na%tubeName=na%opt=na") !== -1) {
            Model.ateOutputModel.filter = "";
            location.replace(/AteOutput\?[a-zA-Z0-9=+,-\\%]*/, "AteOutput");
        }

    </script>

    <div class="row">
        <div class="col-lg-2">
            <select id="selectProductType" class="demo-default" placeholder="Product Types...">
                <option value="">Product Types...</option>
                @foreach (var itemProd in Model.ateOutputModel.prodList)
                {
                    <option value="@itemProd" @(Model.ateOutputModel.productType == itemProd ? "selected" : "")>@itemProd</option>
                }
            </select>

            <script>

                $(document).ready(function () {

                    $('#selectProductType').selectize({
                        sortField: {
                            field: 'text',
                            direction: 'asc'
                        },
                        dropdownParent: 'body',
                        onChange: function (value) {

                            if (value == "") { value = "na"; }

                            //indexOf return num > -1 if it finds the string
                            if (document.URL.indexOf("pT=") > -1) {
                                filterToApply = document.URL;
                            }
                            filterToApply = filterToApply.replace(/pT=[a-zA-Z]*/, "pT=" + value);
                            filterToApply = filterToApply.replace(/mN=[a-zA-Z0-9-]*/, "mN=na");
                            filterToApply = filterToApply.replace(/ser=[a-zA-Z0-9_-]*/, "ser=na");
                            location.href = filterToApply;

                            sendStats();
                            sendOutput();
                            sendResults();
                        }
                    });
                });

            </script>
        </div>

        <div class="col-lg-2">
            <select id="selectModelName" class="demo-default" placeholder="Model Names..." name="ModelName">
                <option value="">Model Names...</option>
                @foreach (var itemModel in Model.ateOutputModel.modelList)
                {
                    <option value="@itemModel" @(Model.ateOutputModel.modelName == itemModel ? "selected" : "")>@itemModel</option>
                }
            </select>

            <script>

                $(document).ready(function () {

		            $('#selectModelName').selectize({
		                sortField: {
		                    field: 'text',
		                    direction: 'asc'
		                },
		                dropdownParent: 'body',
		                onChange: function (value) {

		                    var prod = "@Model.ateOutputModel.productType"; //"na";

		                    // trying to figure out what is the product type if we do the search by modelName
                            if (value != "") {
                                var src = document.getElementById("absolute-base-url").innerHTML + "api/ListAPI/FindProduct?model=" + value;
                                var data = new XMLHttpRequest();
                                data.onreadystatechange = function () {
                                    if (this.readyState === 4 && this.status === 200) {
                                        var retData = JSON.parse(data.responseText);
                                        prod = retData;

                                        //indexOf return num > -1 if it finds the string
                                        if (document.URL.indexOf("mN=") > -1) {
                                            filterToApply = document.URL;
                                        }
                                        if (value != "") { filterToApply = filterToApply.replace(/pT=[a-zA-Z]*/, "pT=" + prod); }
                                        filterToApply = filterToApply.replace(/mN=[a-zA-Z0-9-]*/, "mN=" + value);
                                        filterToApply = filterToApply.replace(/ser=[a-zA-Z0-9_-]*/, "ser=na");
                                        location.href = filterToApply;

                                        sendStats();
                                        sendOutput();
                                        sendResults();
                                    }
                                };

                                data.open("GET", src, true);
                                data.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                                data.send();
                            }

                            //indexOf return num > -1 if it finds the string
                            if (document.URL.indexOf("mN=") > -1) {
                                filterToApply = document.URL;
                            }
                            if (value != "") { filterToApply = filterToApply.replace(/pT=[a-zA-Z]*/, "pT=" + prod); }
                            filterToApply = filterToApply.replace(/mN=[a-zA-Z0-9-]*/, "mN=" + value);
                            filterToApply = filterToApply.replace(/ser=[a-zA-Z0-9_-]*/, "ser=na");
                            location.href = filterToApply;

                            sendStats();
                            sendOutput();
                            sendResults();
		                }
		            });
		        });

            </script>
        </div>
        <div class="col-lg-2">
            <select id="selectSerialNum" class="demo-default" placeholder="Serial Nums..." name="SerialNum">
                <option value="">Serial Nums...</option>
                @foreach (var itemSN in Model.ateOutputModel.serList)
                {
                    <option value="@itemSN" @(Model.ateOutputModel.serialNum == itemSN ? "selected" : "")>@itemSN</option>
                }
            </select>

            <script>

		        $(document).ready(function () {

		            $('#selectSerialNum').selectize({
		                sortField: {
		                    field: 'text',
		                    direction: 'asc'
		                },
		                dropdownParent: 'body',
		                onChange: function (value) {

		                    var prod = "@Model.ateOutputModel.productType";// "na";
		                    var model = "@Model.ateOutputModel.modelName";// "na";

		                    // trying to figure out what is the model name and product type if we do the search by serial
                            if (value != "") {
                                var src = document.getElementById("absolute-base-url").innerHTML + "api/ListAPI/FindModel?serial=" + value;
                                var data = new XMLHttpRequest();
                                data.onreadystatechange = function () {
                                    if (this.readyState === 4 && this.status === 200) {
                                        var retData = JSON.parse(data.responseText);
                                        model = retData;

                                        src = document.getElementById("absolute-base-url").innerHTML + "api/ListAPI/FindProduct?model=" + model;
                                        data = new XMLHttpRequest();
                                        data.onreadystatechange = function () {
                                            if (this.readyState === 4 && this.status === 200) {
                                                var retData = JSON.parse(data.responseText);
                                                prod = retData;

                                                //indexOf return num > -1 if it finds the string
                                                if (document.URL.indexOf("ser=") > -1) {
                                                    filterToApply = document.URL;
                                                }
                                                filterToApply = filterToApply.replace(/pT=[a-zA-Z]*/, "pT=" + prod);
                                                filterToApply = filterToApply.replace(/mN=[a-zA-Z0-9-]*/, "mN=" + model);
                                                filterToApply = filterToApply.replace(/ser=[a-zA-Z0-9_-]*/, "ser=" + value);
                                                location.href = filterToApply;

                                                sendStats();
                                                sendOutput();
                                                sendResults();
                                            }
                                        };

                                        data.open("GET", src, true);
                                        data.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                                        data.send();
                                    }
                                };

                                data.open("GET", src, true);
                                data.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                                data.send();
                            } else {
                                //indexOf return num > -1 if it finds the string
                                if (document.URL.indexOf("ser=") > -1) {
                                    filterToApply = document.URL;
                                }
                                filterToApply = filterToApply.replace(/pT=[a-zA-Z]*/, "pT=" + prod);
                                filterToApply = filterToApply.replace(/mN=[a-zA-Z0-9-]*/, "mN=" + model);
                                filterToApply = filterToApply.replace(/ser=[a-zA-Z0-9_-]*/, "ser=" + value);
                                location.href = filterToApply;

                                sendStats();
                                sendOutput();
                                sendResults();
                            }
		                }
		            });
		        });

            </script>
        </div>
        <div class="col-lg-6"></div>

        <!-----------------------------  FILTER ------------------------------->

        <div class="col-lg-2">
            <select id="selectTestType" class="demo-default" placeholder="Test Type...">
                <option value="">Test Type ...</option>
                <option value="ProdTest" @(Model.ateOutputModel.testType == "ProdTest" ? "selected" : "")>Production Test</option>
                <option value="EngTest" @(Model.ateOutputModel.testType == "EngTest" ? "selected" : "")>Engineering Test</option>
                <option value="RMATest" @(Model.ateOutputModel.testType == "RMATest" ? "selected" : "")>RMA Test</option>
                <option value="Debug" @(Model.ateOutputModel.testType == "Debug" ? "selected" : "")>Debugging</option>
            </select>

            <script>

		        $(document).ready(function () {

		            var testTypePassedIn = "@Model.ateOutputModel.testType";

		            //alert("@Model.ateOutputModel.testType" + " " + "@Model.ateOutputModel.tubeName" + " " + "@Model.ateOutputModel.options");

		            //select by typing
		            $('#selectTestType').selectize({
		                sortField: {
		                    field: 'text',
		                    direction: 'asc'
		                },
		                dropdownParent: 'body',
		                onChange: function (value) {

		                    if (document.URL.search("testType=") > -1) {
		                        location.href = document.URL.replace(/testType=[a-zA-Z]*/, "testType=" + value);
                            } else {
		                        location.href = filterToApply.replace(/testType=[a-zA-Z]*/, "testType=" + value);
                            }

                            sendStats();
                            sendOutput();
                            sendResults();
		                }
		            });
		        });

            </script>
        </div>

        <div class="col-lg-2">
            <select id="selectTubeName" class="demo-default" placeholder="Tube Name...">
                <option value="">Tube Name...</option>
                @foreach (var tube in Model.ateOutputModel.tubeList)
                {
                    <option value="@tube" @(Model.ateOutputModel.tubeName == tube ? "selected" : "")>@tube</option>
                }
            </select>

            <script>

                $(document).ready(function () {

                    //select by typing
                    $('#selectTubeName').selectize({
                        sortField: {
                            field: 'text',
                            direction: 'asc'
                        },
                        dropdownParent: 'body',
                        onChange: function (value) {
                            if (document.URL.search("tubeName=") > -1) {
                                location.href = document.URL.replace(/tubeName=[a-zA-Z0-9-]*/, "tubeName=" + value);
                            } else {
                                location.href = filterToApply.replace(/tubeName=[a-zA-Z0-9-]*/, "tubeName=" + value);
                            }

                            sendStats();
                            sendOutput();
                            sendResults();
                        }
                    });
                });

            </script>
        </div>

        <div class="col-lg-2">
            <select id="selectOptions" multiple class="demo-default" placeholder="Select Options...">
                <option value="">Select Options...</option>
                <option value="Audit" @(Model.ateOutputModel.options.Contains("Audit") ? "selected" : "")>Audit</option>
                <option value="SsaSN" @(Model.ateOutputModel.options.Contains("SsaSN") ? "selected" : "")>SSA</option>
                <option value="LinSN" @(Model.ateOutputModel.options.Contains("LinSN") ? "selected" : "")>LIN</option>
                <option value="LipaSN" @(Model.ateOutputModel.options.Contains("LipaSN") ? "selected" : "")>LIPA</option>
                <option value="BucSN" @(Model.ateOutputModel.options.Contains("BucSN") ? "selected" : "")>BUC</option>
                <option value="BipaSN" @(Model.ateOutputModel.options.Contains("BipaSN") ? "selected" : "")>BIPA</option>
                <option value="BlipaSN" @(Model.ateOutputModel.options.Contains("BlipaSN") ? "selected" : "")>BLIPA</option>
            </select>

            <script>

                $(document).ready(function () {

                    //select by typing
                    $('#selectOptions').selectize({
                        plugins: ['remove_button'],
                        delimiter: ',',
                        persist: false,
                        onChange: function (value) {
                            if (value == null) { value = "na"; }
                            if (document.URL.search("opt=") > -1) {
                                location.href = document.URL.replace(/opt=[a-zA-Z,]*/, "opt=" + value);
                            } else {
                                location.href = filterToApply.replace(/opt=[a-zA-Z,]*/, "opt=" + value);
                            }

                            sendStats();
                            sendOutput();
                            sendResults();
                        }
                    });
                });

            </script>
        </div>
        <div class="col-lg-6"></div>
    </div>


    <!---------------------------- FILTER END ------------------------------>

    <div class="row"><hr /></div>
    <table id="table_id_1" class="display">

        <thead>
            <tr>
                <th>StartTime</th>
                <th>Serial#</th>
                <th>Audit</th>
                <th>Long Model Name</th>
                <th>Tube Name</th>
                <th>SsaSN</th>
                <th>LinSN</th>
                <th>LipaSN</th>
                <th>BucSN</th>
                <th>BipaSN</th>
                <th>BlipaSN</th>
            </tr>
        </thead>
        <tbody>

            @{
                var yscroll = 50;
                var numAteTests = 0;

                if (Model.ateOutputModel.ateOutputList.Count > 0)
                {
                    foreach (var item in Model.ateOutputModel.ateOutputList)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.startTime)</td>
                            <td><a href='@Url.Action("", "", null, Request.Url.Scheme)ateData/AteOutputDetail/?serNum=@item.serialNum'>@Html.DisplayFor(modelItem => item.serialNum)</a></td>
                            <td>@Html.DisplayFor(modelItem => item.audit)</td>
                            <td>@Html.DisplayFor(modelItem => item.longModelName)</td>
                            <td>@Html.DisplayFor(modelItem => item.tubeName)</td>
                            <td>@Html.DisplayFor(modelItem => item.ssaSN)</td>
                            <td>@Html.DisplayFor(modelItem => item.linSN)</td>
                            <td>@Html.DisplayFor(modelItem => item.lipaSN)</td>
                            <td>@Html.DisplayFor(modelItem => item.bucSN)</td>
                            <td>@Html.DisplayFor(modelItem => item.bipaSN)</td>
                            <td>@Html.DisplayFor(modelItem => item.blipaSN)</td>
                        </tr>
                        numAteTests++;
                    }

                    if (numAteTests < 5) { yscroll = 250; }
                    else { yscroll = 500; }
                }
            }
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#table_id_1').DataTable({
                "scrollX": true,
                "scrollY": @yscroll
            });

            sendStats();
            sendOutput();
            sendResults();
        });

        //Set navbar button as active
        document.getElementById("navBarAteOutput").classList.add("active");
    </script>

</div>