@model SatcomRfWebsite.Models.tblATEOutput

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblATEOutput</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalesOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalesOrder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TestPlan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TestPlan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TestType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TestType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TPRev)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TPRev)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Audit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Audit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Itar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Itar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RackNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RackNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LongModelName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LongModelName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TubeSN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TubeSN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TubeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TubeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MainRevision)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MainRevision)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SsaSN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SsaSN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinSN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinSN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LipaSN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LipaSN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinGain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinGain)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinGainOffset)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinGainOffset)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinPhase)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinPhase)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinPhaseOffset)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinPhaseOffset)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinMag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinMag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinMagOffset)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinMagOffset)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LineVoltage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LineVoltage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LineFrequency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LineFrequency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAC)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
