@model SatcomRfWebsite.Models.HomeModel


@{
    ViewBag.Title = "Home";
    int counter = 0;
}
 
@*section featured {*@
    <div class="row-fluid">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <h1><center>Welcome to Satcom RF DataBase</center></h1>
                </div>
                <div class="row text-center">
                    <img src="~/Content/Images/radio-antenna.png" height="256" width="256" style="margin-top: 25px" />
                    <!--<div style="font-size: 8px; margin-top: 5px">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
                    <!--<div style="font-size:10px;">Under construction </div>-->
                    <!--<a class="btn btn-large btn-success" href="http://localhost:56589" title="not used">Not yet</a>-->
                </div>
                <div class="row">
                    <h3>Last Unit Tested </h3>
                </div>
                <div class="row">
                    <ul class='list-unstyled'>
                        <li class="col-md-1" align='left'><b>1</b></li>
                        <li class="col-md-2" align='left'><b>@Model.getProductType</b></li>
                        <li class="col-md-3" align='left'><b>@Model.getLongModelName</b></li>
                        <li class="col-md-2" align='left'><b><a id='ser-@Model.getSerialNum' href='~/ateData/AteOutputDetail/?serNum=@Model.getSerialNum'>@Model.getSerialNum</a></b></li>
                        <li class="col-md-4" align='left'><b>@Model.getLastTestDate</b></li>
                    </ul>
                </div>
                <div class='row'>
                    <h3>Units Tested Today</h3>
                </div>
                <div class='row'>
                    <ul class='list-unstyled'>
                    @if (Model.todaysTests.Count == 0)
                    {
                        <li class='col-md-12' align='center'><b> --- None --- </b></li>
                    }
                    @foreach (var product in Model.todaysTests)
                    {
                        counter++;
                        <li class="col-md-1" align='left'><b>@counter</b></li>
                        <li class="col-md-2" align='left'><b>@product.Item1.ToString()</b></li>
                        <li class="col-md-3" align='left'><b>@product.Item2.ToString()</b></li>
                        <li class="col-md-2" align='left'><b><a id='ser-@product.Item3.ToString()' href='~/ateData/AteOutputDetail/?serNum=@product.Item3.ToString()'>@product.Item3.ToString()</a></b></li>
                        <li class="col-md-4" align='left'><b>@product.Item4.ToString()</b></li>
                    }
                    </ul>
                </div>
                <div class="row">
                    <h3>Units Tested This Week</h3>
                </div>
                <div class='row'>
                    <ul class='list-unstyled'>
                    @{counter = 0;}
                    @if (Model.thisWeekTests.Count == 0)
                    {
                        <li class='col-md-12' align='center'><b> --- None --- </b></li>
                    }
                    @foreach (var product in Model.thisWeekTests)
                    {
                        counter++;
                        <li class="col-md-1" align='left'><b>@counter</b></li>
                        <li class="col-md-2" align='left'><b>@product.Item1.ToString()</b></li>
                        <li class="col-md-3" align='left'><b>@product.Item2.ToString()</b></li>
                        <li class="col-md-2" align='left'><b><a id='ser-@product.Item3.ToString()' href='~/ateData/AteOutputDetail/?serNum=@product.Item3.ToString()'>@product.Item3.ToString()</a></b></li>
                        <li class="col-md-4" align='left'><b>@product.Item4.ToString()</b></li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    </div>
@*}*@

<script>
    $(document).ready(function () {
        $("a[id^='ser-']").each(function () {
            $(this).click(function () {
                $body = $("body");
                //addes class 'loading' from 'site.css'
                $body.addClass("loading");
            });
        });
    });

    //Set navbar button as active
    document.getElementById("navBarHome").classList.add("active");
</script>

<!-- Example row of columns -->
<div class="row">
  <!--<div class="col-md-4">
    <h2>Col 1</h2>
    <p>More content here.</p>
    <p><a class="btn btn-default" href="http://localhost">Link 1 &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Col 2</h2>
    <p>More content here.</p>
    <p><a class="btn btn-default" href="http://localhost">Link 2 &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Col 3</h2>
    <p>More content here.</p>
    <p><a class="btn btn-default" href="http://localhost">Link 3 &raquo;</a></p>
  </div>-->
</div>
